/* HUDBT
 * Troy
 * https://userstyles.org/styles/107532/hudbt-style
 */

@-moz-document domain("hudbt.hust.edu.cn") {

  body{ 
    background-image: url(/*[[hudbtbgimg]]*/);        /* 背景图像 */
    background-position: center;                    /* 背景样式 */
    background-attachment: fixed;                   /* 背景样式 */
    background-size:cover;                          /* 背景样式 */
  } 

  #page{position:relative;box-shadow:0 0 0px #000}  /* 去除外边框 */

  td{border:#6666CC 0px solid}                      /* 隐藏列表边框 */
  .td{border:0px;}

  div#donate{display:none !important;}              /* 隐藏捐赠按钮 */
  
  img#logo-img{display:none !important;}            /* 隐藏logo */

  div#ad_header{display:none !important;}           /* 隐藏广告头部 */

  header{display:none !important;}                  /* 隐藏整个顶部banner */
}
