/* Weibo Cleaner
 * Troy
 */

@-moz-document domain("weibo.com") {
    .gn_nav_list .home .S_txt1 {display:none;}
    .WB_cardwrap { border-radius: 0; box-shadow: none; margin: 0; }
    .WB_feed_handle .WB_row_line { border-bottom: 0px solid #f2f2f5; }
    .WB_notes { margin: 0; padding: 0px 0; }
    .send_weibo .key, .v6_pl_rightmod_updatev6, #v6_pl_rightmod_recominfo, #v6_trustPagelet_recom_member, #v6_pl_rightmod_noticeboard, #v6_pl_rightmod_updatev6, .WB_right_module, .PCD_mplayer, #WB_webim {
    display: none; }
    .send_weibo { border-radius: 0; margin: 0; }
    .WB_feed_together { display:none; }
    .WB_main_r { display:none;}
    .WB_main_l { display:none;}
    .WB_main_c { width: 760px;}
    .fr_box.W_fr.S_bg2{width: 460px;}
    .WB_frame #plc_main { width:760px; }
    .WB_frame { width:760px; }
    .WB_feed .WB_cardwrap { margin-bottom:0; border-bottom:0px solid #EEE }
    .WB_frame { background: transparent; }  
    .WB_left_nav .S_txt1, .WB_left_nav a.S_txt1:hover, .WB_left_nav .S_ficon, .WB_left_nav a:hover .S_ficon, .WB_left_nav a.S_ficon:hover, .WB_left_nav .lev .W_new_count { color:#555;}
    .WB_global_nav { border-top : none; background: #323233; }
    .gn_nav_list a[nm="game"] { display:none; }
    .footer_link.clearfix {display:none;}
    div[node-type="feed_spread"] {display:none;} /* 好友推荐 */
    div[node-type="feed_privateset_tip"] {display:none;} /*微博社区管理中心*/

    /* 各种头衔图标 */
    i[class^="W_icon icon_"] {display:none;} 
    i[class^="W_icon icon_praised_b"] {display:inline-block;}
    i[class^="W_icon icon_praised_bc"] {display:inline-block;}
    
    .WB_global_nav .S_txt1{color: #C8C8CC;}  /* 顶部导航栏文字颜色 */
    a[suda-uatrack="key=topnav_tab&value=discover"] {display:none !important;} /* 顶部导航栏——发现 */
    a[suda-uatrack="key=topnav_tab&value=game"] {display:none !important;} /* 顶部导航栏——游戏 */
    .WB_global_nav .gn_nav{margin: 11px -40px 11px 0px;} /* 导航栏右移一点点 */
    
    /* 干掉左上角图标 */
    .WB_global_nav .gn_logo .box .logo {background-image: url('http://tp4.sinaimg.cn/1859288007/180/5682323271/1'); background-size:48px 48px; width: 48px; border-radius: 50%;} 
    .WB_global_nav .gn_logo .box {width:48px; height:48px;}
    .WB_global_nav .gn_logo {width:48px;margin-left:16px;margin-right:80px;}
    
}
